@model YourFinances.Domain.Entities.Category

@{
    ViewData["Title"] = "Create/Edit";
}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">@ViewData["Title"]</h1>

    <h4>Category</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Category" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="category_id" />
                    <div asp-validation-summary="All"></div>
                </div>
                <div class="form-group">
                    <label asp-for="name" class="control-label">Name of the category</label>
                    <input type="text" asp-for="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="description" class="control-label">Description(optional): </label>
                    <input asp-for="description" class="form-control" />
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Create/Modify" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Home" asp-action="Index">Back to Main</a>
    </div>
</div>
